<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "http://localhost:3000/api/testupload"
     method    =  "post"
>
<input type="file" name="file" />
<input type="submit" value="Upload Image" name="submit">
</form>
